{% extends "base.html" %}

   
      {% block page-container %}
      <div class="row">
        <div class="col-md-8 left-content">
          <div class="content-box">
              {% for article in articles  reversed%}
                <div class="article-box row">
                  <div class="article-head-img col-md-3">
                      <img src="{{article.head_imag.url}}" alt="">
                  </div>
                  <div class="article-summary col-md-8">
                      <h3><a href="{% url 'article_detail' article.id %}">{{article.title}}</a></h3>
                      <div class="article-info">
                        <ul class="list-inline">
                          <li>{{article.author.name}}</li>
                          <li>{{article.pub_date}}</li>
                          <li>点赞：{{article.thumbup_set.select_related.count}}</li>
                          <li>评论：{{article.comment_set.select_related.count}}</li>                        
                        </ul>
                        
                      </div>
                      <p>{{article.summary}}</p>
                  </div>
                </div>
                <hr>  
              {% endfor %}
          </div>
        </div>
        <div class="col-md-4 right-content">
            right
        </div>
      </div>
      {% endblock %}

    

{% block bottom-js %}
    <script>
      $(document).ready(function(){
        var menus = $("#navbar a[href='{{ request.path }}']")[0]
        $(menus).parent().addClass("active");
      });
    </script>

{% endblock %}