{% extends "base.html" %}

{% block left_content %}
    <div class="user-info">
        <h3>{{user.name}}</h3>
        <p>{{user.user.email}}</p>
        <a href="{{user.user_img.url}}" class="fancybox" title="user-img">
        <img class="user-img" src="{{user.user_img.url}}" alt="{{user.user_img.url}}">
        </a>
        <a href="{% url 'change_avatar' user.name %}" class="btn btn-default">更该头像</a>
    </div>
{% endblock %}

{% block bottom-js %}
<link href="//cdn.bootcss.com/fancybox/2.1.5/jquery.fancybox.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

<script>
    $(document).ready(function() {
      $('.fancybox').fancybox();
  });
</script>
  {% endblock %}